extends layout

block content
  h1= title

  if toShow == null
    h2 No instance to detail
  else
    - let mountainsid = toShow._id
    - let mountainName = toShow.mountainName
    - let mountainsheight = toShow.Height
    - let mountainsPlace = toShow.place

    div
      div.row
        div(class='mountainsAttr mr-3') Mountain ID is:
          div #{mountainsid}
      div.row
        div(class='mountainsAttr mr-3') Mountain Name is:
          div #{mountainName}
      div.row
        div(class='mountainsAttr mr-3') Mountain Height is:
          div #{mountainsheight}
      div.row
        div(class='mountainsAttr mr-3') Mountain Place is:
          div #{mountainsPlace}
