extends layout

block content
  h1= title

  a.btn.btn-primary(href='/moutains/create') Create
  
  - let items = results  
  script.
    function buy(num){
      alert("You purchased items " + (num+1));
    } 

    function dispatch(path){
      window.location.href = path;
    }

  div.container-fluid
    div.row.m-1
    each Moutains, num in items 
      div.col-sm-2(onClick = `buy(${num})`)
        p MoutainsName: #{Moutains.mountainName}
        p height: #{Moutains.Height}
        p Place: #{Moutains.place}
        button.btn(class="btn-primary ml-1", onclick=`dispatch('/moutains/update?id=${Moutains._id}')`) Update
        button.btn(class="btn-primary ml-1", onclick=`dispatch('/moutains/delete?id=${Moutains._id}')`) delete 
        button.btn(class="btn-primary ml-1", onclick=`dispatch('/moutains/detail?id=${Moutains._id}')`) detail
