extends layout

block content
  h1= title
  - let items = results  
  script.
    function buy(num){
      alert("You purchased items " + (num+1));
    } 

  div.container-fluid
    div.row
        each Moutains, num in items 
            div.col-sm-2(onClick = `buy(${num})`)
                p MoutainsName: #{Moutains.mountainName}
                p height : #{Moutains.Height}
                p Place : #{Moutains.place}