extends layout
block content
    h1= title

if toShow == null
    h2 No instance to detail
  else
    - let moutainsid = toShow._id
    - let mountainName = toShow.mountainName
    - let moutainsheight = toShow.Height
    - let moutainsPlace = toShow.place
    
    div
    div.row
    div(class='moutainsAttr mr-3') moutains ID is:
    div #{moutainsid}
    div.row
    div(class='moutainsAttr mr-3') moutains Name is:
    div #{MoutainsName}
    div.row
    div(class='moutainsAttr mr-3') moutains height  is:
    div #{height}
    div.row
    div(class='moutainsAttr mr-3') moutains Place is:
    div #{Place}